.nav {
    display: flex;
    justify-content: space-between;
}
.menu {
    flex-grow: 1;
    position: relative;
}
.menu::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    right: 0px;
    top:50%;
    transform: translateY(-50%);
}
.menu_wrapper {
    display: flex;
    width: 800px;
    background: #000000;
    border-radius: 10px;
}
.menu_item {
    display: inline-block;
    font-family: e-Ukraine-medium;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 24px 30px;
}
.search {
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.container {
    display: flex;
    justify-content: space-between;
}
.user {
    width: 62px;
    background: #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}