.section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ttl {
    font-family: e-Ukraine-medium;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}